{{ define "main" }}
<!-- Grid -->
<div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-6 xl:gap-4 mt-16">
    {{ range .Site.RegularPages }}
    {{ if eq .Section "Blog" }}
    <!-- Card -->
    <a class="group block rounded-xl bg-white border shadow" href="{{ .RelPermalink }}">
        <div class="aspect-w-16 aspect-h-9">
            <img class="w-full object-cover rounded-t-xl" src="{{ .Params.thumb }}" alt="Image Description">
        </div>
        <div class="p-4">
            <h3
                class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white">
                {{ .LinkTitle }}
            </h3>
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+09:00" }}
            {{ $dateHuman := .Date | time.Format "2006-01-02" }}
            <time class="block mt-2 text-sm text-gray-600 dark:text-gray-400" datetime="{{ $dateMachine }}">{{
                $dateHuman
                }}</time>
        </div>
    </a>
    {{ end }}
    {{ end }}
    <!-- End Card -->
</div>

{{ end }}